body {
  background-color: black;
}

.name p {
  margin-top: 200px;
  margin-left: 500px;
}

hr {
  background-color: white;
  width: 720px;
  height: 2px;
  margin-left: 420px;
}
.skill h1{
  margin-left: 600px;
}
.work{
  margin-left: 200px;
  margin-right: 0%;
}

@media screen and (max-width: 480px){
  .name p{
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    margin-top: 30%;
  }
  .skill h1{
    font-size: 25px;
    margin-left: 20px;
    text-align: center;
  }
  .work{
      margin-left: 25%;
  }
  hr{
      margin-left: 15%;
      width: 75%;
  }
  .work button{
    margin-bottom: 20px;
    align: center;
  }
}
